@import "compass/css3/box-shadow";

$fi-path: "/fonts";

@import "settings";
@import "foundation";
@import "foundation-icons";

#header{
  border-bottom: 2px solid $primary-color;
  padding: 20px 0;

  h1 a{
    color: black;
    &:hover{
      text-decoration: underline;
      color: darken($primary-color, 10%);
    }
  }

  h2{
    font-size: rem-calc(16px);
    margin-top: -2*$header-bottom-margin;
    text-indent: 0.1rem;
    @media #{$medium-up}{
      text-indent: 0.2rem;
    }
  }

  .avatar{
    @include box-shadow(1px 1px 3px gray);
  }
}

ul.social{
  list-style: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  li i:before{
    font-size: 60px;
    line-height: 74px;
  }
}

#container{ }

#filters{
  h2{
    font-size: $h4-font-size;
  }

  ul{
    list-style-type: square;
  }
}