@import "compass/css3/box-shadow";
@import "compass/css3/inline-block";

$fi-path: "/fonts";

@import "settings";
@import "foundation";
@import "foundation-icons";

#header, #container{
  padding: 20px 0;
}

#header{
  border-bottom: 2px solid $primary-color;

  h1{
    a{
      @include inline-block;
      line-height: 1;
      color: black;
      &:hover{
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        margin-bottom: rem-calc(-1px);
      }
    }
  }

  h2{
    font-size: rem-calc(16px);
    margin-top: -$header-bottom-margin;
    text-indent: 0.1rem;
    color: $secondary-color, 10%;
    @media #{$medium-up}{
      text-indent: 0.2rem;
    }
  }

  .avatar{
    @include box-shadow(1px 1px 3px gray);
  }
}

ul.social{
  list-style: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  li{
    margin-left: 0;
    margin-right: rem-calc(20px);
    i:before{
      font-size: 60px;
      line-height: 74px;
    }
  }
}

#container{ }

#filters{
  h2{
    font-size: $h4-font-size;
  }

  ul{
    list-style-type: square;
  }
}

@media #{$medium-up} {
  .avatar{
    float: right;
  }
  ul.social{
    float: right;
    li{
      margin-right: 0;
      margin-left: rem-calc(10px);
      i:before{
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}